<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="styles/WS_1.css" rel="stylesheet" type="text/css" />
<link href="styles/textLinks.css" rel="stylesheet" type="text/css" />
<link href="styles/Map.css" rel="stylesheet" type="text/css" />
</head>

<body bgcolor="#FFF">
<img src="Images/CroppedVirtualEarth.jpg" width="1191" height="724" border="0" usemap="#Map" class="center"/>
<map name="Map" id="Map">
  <area shape="circle" coords="370,352,6" href="Health Management.html" alt="Ghana" title="Ghana"/>
  <area shape="circle" coords="598,671,6" href="Health Management.html" alt="South Africa" title="South Africa"/>
  <area shape="rect" coords="176,479,410,506" href="Health Management.html" alt="All WS" />
  <area shape="rect" coords="177,527,256,552" href="Health Management.html" />
  <area shape="rect" coords="177,558,319,580" href="Health Management.html" />
  <area shape="rect" coords="16,15,112,110" href="index3.html" title="Go to Home Page"/>
</map>
</body>
</html>
