<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wilderness Weather Station App</title>
<link href="styles/WS_1.css" rel="stylesheet" type="text/css" />
</head>

<body>
```````````````````
<div id="container">
  <div id="banner"><img src="Images/satellite.jpg" alt="" width="220" height="186" /><img src="Images/HEADER_OURWORK.JPG" alt="" width="744" height="186" /></div>
  <div id="main_image">
   
    <p>The Wilderness Weather Application</p>
  </div>
  
  <div id="left_column"><a href="WeatherData.html"><img src="Images/International Research Institute for Climate and Society_files/climate100px.gif" width="97" height="96" alt="Weather" /></a> Weather Data          <a href="RemoteManagement.html"><img src="Images/International Research Institute for Climate and Society_files/env100px.gif" width="97" height="96" alt="Remote Management" /></a>  Remote Management          <a href="Health Management.html"><img src="Images/International Research Institute for Climate and Society_files/forecasts100px.gif" width="97" height="96" alt="Health" /></a>  Health Management</div> 
  <div id="center_column"></div> 
  <div id="right_column"></div> 
  <div id="Info"></div>
  <div id="footer">
    <p><img src="Images/International Research Institute for Climate and Society_files/aboutIRI100px.gif" alt="Information" name="Info" width="100" height="100" id="Info" /> Information</p>
    <p><img src="Images/International Research Institute for Climate and Society_files/iriLogo.jpg" width="502" height="95" alt="Funded by the International Research Institute for Climate and Society" /></p>
  </div>
</div>
</body>
</html>
