<html>
<body>
    <center><h1>Health Information System</h1></center>
   
<center><table rules=rows frame=box cellpadding=1 cellspacing=1 >
   <tr><td>
   <table><tr><td> <b>South Africa</b></td></tr> </table>
   <table cellpadding=2 cellspacing=1>
   <tr style="font-size: 12px; color: white;text-align:center; width:250px; background-color:blue;" cellpadding="1"> 
      <td>Date</td><td>Station</td> <td>Airpressure</td> <td>Windspeed</td> <td>Airtemperature </td><td>Groundtemperature</td> 	    <td>Precipition</td><td>Humidity</td><td>Solarradation</td><td>Dewpoint</td>  <td>Clock</td><td>Battery Level</td>
    </tr>
    <tr  style="font-size: 12px;">
      <td>10-21-10 1200</td><td> up</td> <td>up</td><td>up</td><td>up</td> <td>down</td><td>up</td><td>down</td><td>up</td>					     <td>down</td><td>up</td><td> 52%</td></tr>

<td>
</tr>
</table>
</table>
<center>
</body>
</html>


