<html>

    <center><h1>Weather Information System</h1></center>
   
<center><table rules=rows frame=box cellpadding=3 cellspacing=1 >
   <tr><td>
   <table cellpadding=2 cellspacing=1>
   <tr style="color: white;text-align:center; width:250px; background-color:blue;" cellpadding="1"> <td>Station</td> <td>Airpressure</td> <td>Windspeed</td> <td>Airtemperature </td><td>Groundtemperature</td><td> Precipition</td> <td>Humidity</td> <td>Solarradation</td> <td>Dewpoint</td> <td>Clock</td></tr> </font>

   <tr> <td>SouthAfrica</td> <td>30.04 in</td> <td>East at 2 mph</td> <td>62 F </td><td>59 F</td><td> 0 in</td> <td>19%</td> <td>1,800 kWh/m</td> <td>57 F</td> <td>10-21-10 1200</td></tr> </font>
<td>
</tr>
</table>
</table>
</center>
</html>


